.git
.vscode
node_modules
dist
backend/bin
backend/tmp
backend/*.exe
frontend/node_modules
frontend/dist
backend/build
backend/build_test
backend/main.exe
backend/server.exe
backend/ingest.exe
backend/test_build
backend/backend_debug.log
backend_logs_debug.txt
build_error.txt
**/logs/**
**/.env*
!**/.env.example
